<!DOCTYPE html>
<html>
   <head>
      <title>HTT - Francielle</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="base.css") }}"/> 
   </head>
   <body>
      <h3>CRUD IMOBILIÁRIO</h3>
      <hr/>

      <h3>Editar inquilino</h3>
      <hr/>

      <h1><form action = "{{ request.path }}" method = "post">
         <label for = "num_contrato">Número do Contrato</label><br>
         <input type = "text" name = "num_contrato" placeholder = "ex: 123" /><br>
         <input id="botaozinho" type = "submit" value = "Enviar" />
      </form></h1>
   </body>
</html>